<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User forms</title>
</head>
<body>
    <h3>User form</h3>

    <form action ="/users" method ="POST">
        <input type="text" name="name" id="" placeholder="Enter Name">
        <input type="text" name="age" id="" placeholder="Enter Age">
        <input type="text" name="email" id="" placeholder="Enter email">
        <input type="text" name="bio" id="" placeholder="Enter bio">
        <input type="text" name="address" id="" placeholder="Enter address">
        <input type="text" name="hobbies" id="" placeholder="Enter hobbies">
        <button type="submit">Add User</button>
    </form>
    
</body>
</html>